@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 400 16px/24px $main_font;
	color: $main_text_color;
	background-color: #f5f6f8;
}

body.unscroll{
	overflow: hidden;
}

.main_wrap{
    overflow: hidden;
}

.item--margined{
    margin-left: 98px;
}

.header{
    font-size: 50px;
    line-height: 66px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}

.header_sm{
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}

.title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    letter-spacing: .05em;
}

.text--900{
    font-weight: 900;
    color: #000;
}

.text--700{
    font-weight: 700;
    color: #000;
}

.text--600{
    font-weight: 600;
    color: #000;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
    position: relative;
    width: 230px;
    height: 50px;
    box-shadow: 0 12px 43px rgba(255, 41, 96, 0.38);
    background-color: #dd3862;
    background-image: linear-gradient(to top, #c61b47 0%, #dd3862 100%);

	color: #fff;
	font: 700 12px $main_font;
    letter-spacing: .1em;
	text-transform: uppercase;
    z-index: 3;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
        background-color: #dd3862;
        background-image: linear-gradient(to top, #9053e6 0%, #bf91ff 100%);
        z-index: 1;

        transition: .3s;
        opacity: 0;
    }
    span{
        position: relative;
        z-index: 2;
    }
}

.btn:hover{
	background-color: $main_color;
    box-shadow: none;
    &:before{
        opacity: 1;
    }
}

.btn:active{
    box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
    background-color: #762bc6;
    background-image: none;
    &:before{
        opacity: 0;
    }
}


.call_btn_btm{
    width: 181px;
    height: 40px;
    border: 2px solid #f2f2f6;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    &:hover{
        border: 3px solid #7f58e9;
        color: $main_color;
    }
    &:active{
        background-color: #5f37ca;
        color: #fff;
    }
}


.call{
  display: block;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  float: right;
  &:hover{
    color: #dc3761;
  }
}
.call:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: -6px;
  transition: all .4s;
  background: #dd3862;
}

.menu{
  position: fixed;
  display: none;
  z-index: 100;
  width: 45px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  li{
    position: relative;
    z-index: 10;
    a{
      display: block;
      position: relative;
      width: 25px;
      height: 33px;
      span{
        display: block;
        opacity: 0;
        transition: opacity .3s;
        color: #8e54ea;
        font-family: $number_font;
        letter-spacing: .2em;
        font-size: 9px;
        line-height: 33px;
        text-transform: uppercase;
      }
    }
    a:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: #000;
      transition: opacity .3s;
    }
    p{
      transition: opacity .3s;
      opacity: 0;
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 45px;
      width: 131px;
      height: 26px;
      color: #000000;
      font-family: $number_font;
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
    }
    p.visible{
      opacity: 0.5;
      display: block;
    }
  }
  .active a:before{
    opacity: 0;
  }
  .active a span{
    opacity: 1;
  }
  li:nth-child(1){margin-top: -8px;}
  li:hover p {opacity: 1;}
}

.menu:hover {
  background-color: rgba(255,255,255, .9);
  border-radius: 4px;
  width: 205px;
  opacity: 1 !important;
  p{
    opacity: 0.5;
    display: block;
  }
}


#sec_01{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_01-bg.png);

    padding: 40px 0 270px;
    color: #000;

    .call_block{
        float: right;
    }
    .tel{
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        line-height: 25px;
        margin-right: 30px;
        font-family: $number_font;
        &:hover{color: $main_color;}
    }
    .logo{
        margin-top: -40px;
    }
    .top{margin-bottom: 210px;}
    .header_main{
        color: #ffffff;
        font-size: 90px;
        line-height: 113px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .underheader{
        color: #ffffff;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: .3em;
    }
    .btn{
        margin-top: 50px;
    }
}

.line{
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: .1;
  top: 0;
}

.line.purple{
  background: $main_color;
}

@media (min-width: 992px) and (max-width: 1200px){
    #sec_01{
        padding-bottom: 140px;
        .top{margin-bottom: 120px;}
        .menu{display: none !important;}
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .header{
        font-size: 42px;
        line-height: 52px;
    }
}
@media (max-width: 767px) {
    .header{
        font-size: 42px;
        line-height: 52px;
    }
    [class*='col-']{
      margin: 0;
      width: 100%;
    }
    #sec_01{
        padding-bottom: 140px;
        .top{margin-bottom: 120px;}
        .menu{display: none !important;}
    }
}


@media (max-width: 500px) {
    .header{
        font-size: 38px;
        line-height: 46px;
        margin-top: 0 !important;
    }
    .header_sm{
        font-size: 28px;
        line-height: 36px;
    }
    #sec_01{
        padding-bottom: 80px;
        .top{margin-bottom: 60px;}
        .tel{
            display: block;
            margin-right: 0;
        }
        .call_block{
            margin-top: -30px;
        }
        .menu{display: none !important;}
        .header_main{
            font-size: 50px;
            line-height: 54px;
        }
        .underheader{
            font-size: 16px;
        }
    }
}