body {
  position: relative;
  font: 400 16px/24px "Raleway", sans-serif;
  color: #848586;
  background-color: #f5f6f8; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  overflow: hidden; }

.item--margined {
  margin-left: 98px; }

.header {
  font-size: 50px;
  line-height: 66px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase; }

.header_sm {
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase; }

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  letter-spacing: .05em; }

.text--900 {
  font-weight: 900;
  color: #000; }

.text--700 {
  font-weight: 700;
  color: #000; }

.text--600 {
  font-weight: 600;
  color: #000; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #9053e6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #9053e6; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #9053e6; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #9053e6; }

.btn {
  position: relative;
  width: 230px;
  height: 50px;
  -webkit-box-shadow: 0 12px 43px rgba(255, 41, 96, 0.38);
  box-shadow: 0 12px 43px rgba(255, 41, 96, 0.38);
  background-color: #dd3862;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c61b47), to(#dd3862));
  background-image: -webkit-linear-gradient(bottom, #c61b47 0%, #dd3862 100%);
  background-image: linear-gradient(to top, #c61b47 0%, #dd3862 100%);
  color: #fff;
  font: 700 12px "Raleway", sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  z-index: 3; }
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
    box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
    background-color: #dd3862;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9053e6), to(#bf91ff));
    background-image: -webkit-linear-gradient(bottom, #9053e6 0%, #bf91ff 100%);
    background-image: linear-gradient(to top, #9053e6 0%, #bf91ff 100%);
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0; }
  .btn span {
    position: relative;
    z-index: 2; }

.btn:hover {
  background-color: #9053e6;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn:hover:before {
    opacity: 1; }

.btn:active {
  -webkit-box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
  box-shadow: 0 12px 43px rgba(166, 103, 255, 0.38);
  background-color: #762bc6;
  background-image: none; }
  .btn:active:before {
    opacity: 0; }

.call_btn_btm {
  width: 181px;
  height: 40px;
  border: 2px solid #f2f2f6;
  font-size: 12px;
  letter-spacing: .05em;
  font-weight: 700;
  color: #fff;
  text-align: center; }
  .call_btn_btm:hover {
    border: 3px solid #7f58e9;
    color: #9053e6; }
  .call_btn_btm:active {
    background-color: #5f37ca;
    color: #fff; }

.call {
  display: block;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  float: right; }
  .call:hover {
    color: #dc3761; }

.call:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: -6px;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #dd3862; }

.menu {
  position: fixed;
  display: none;
  z-index: 100;
  width: 45px;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .menu li {
    position: relative;
    z-index: 10; }
    .menu li a {
      display: block;
      position: relative;
      width: 25px;
      height: 33px; }
      .menu li a span {
        display: block;
        opacity: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        color: #8e54ea;
        font-family: "DidactGothic", sans-serif;
        letter-spacing: .2em;
        font-size: 9px;
        line-height: 33px;
        text-transform: uppercase; }
    .menu li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: #000;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
    .menu li p {
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      opacity: 0;
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 45px;
      width: 131px;
      height: 26px;
      color: #000000;
      font-family: "DidactGothic", sans-serif;
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase; }
    .menu li p.visible {
      opacity: 0.5;
      display: block; }
  .menu .active a:before {
    opacity: 0; }
  .menu .active a span {
    opacity: 1; }
  .menu li:nth-child(1) {
    margin-top: -8px; }
  .menu li:hover p {
    opacity: 1; }

.menu:hover {
  opacity: 1 !important; }

#sec_01 {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_01-bg.png);
  padding: 40px 0 270px;
  color: #000; }
  #sec_01 .call_block {
    float: right; }
  #sec_01 .tel {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    line-height: 25px;
    margin-right: 30px;
    font-family: "DidactGothic", sans-serif; }
    #sec_01 .tel:hover {
      color: #9053e6; }
  #sec_01 .logo {
    margin-top: -40px; }
  #sec_01 .date {
    color: #fff;
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    margin-top: 0px;
    font-weight: 500; }
  #sec_01 .top {
    margin-bottom: 210px; }
  #sec_01 .header_main {
    color: #ffffff;
    font-size: 90px;
    line-height: 113px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  #sec_01 .underheader {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .3em; }
  #sec_01 .btn {
    margin-top: 50px; }

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: .1;
  top: 0; }

.line.purple {
  background: #9053e6; }

@media (min-width: 1201px) and (max-width: 1800px) {
  #sec_01 {
    padding-bottom: 200px; }
    #sec_01 .top {
      margin-bottom: 100px; }
    #sec_01 .menu {
      display: none !important; }
    #sec_01 .header {
      font-size: 42px;
      line-height: 52px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_01 {
    padding-bottom: 140px; }
    #sec_01 .top {
      margin-bottom: 120px; }
    #sec_01 .menu {
      display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    font-size: 42px;
    line-height: 52px; } }

@media (max-width: 767px) {
  .header {
    font-size: 42px;
    line-height: 52px; }
  [class*='col-'] {
    margin: 0;
    width: 100%; }
  #sec_01 {
    padding-bottom: 140px; }
    #sec_01 .top {
      margin-bottom: 120px; }
    #sec_01 .date {
      display: none; }
    #sec_01 .menu {
      display: none !important; } }

@media (max-width: 500px) {
  .header {
    font-size: 38px;
    line-height: 46px;
    margin-top: 0 !important; }
  .header_sm {
    font-size: 28px;
    line-height: 36px; }
  #sec_01 {
    padding-bottom: 80px; }
    #sec_01 .top {
      margin-bottom: 60px; }
    #sec_01 .tel {
      display: block;
      margin-right: 0; }
    #sec_01 .call_block {
      margin-top: -30px; }
    #sec_01 .menu {
      display: none !important; }
    #sec_01 .header_main {
      font-size: 50px;
      line-height: 54px; }
    #sec_01 .underheader {
      font-size: 16px; } }
